[Unit]
Description=haproxy-agent check service for reporting zabbix-server ha status via database.
After=network.target
[Service]
Type=notify
User=zahapa
Group=zahapa
WorkingDirectory=/etc/zahapa
ExecStart=/etc/zahapa/zahapa.py
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target