[Unit]
Description=haproxy-agent check service for reporting zabbix-server ha status via database.
After=network.target
[Service]
Type=simple
User=zahapa
Group=zahapa
WorkingDirectory=/opt/zahapa
ExecStart=/opt/zahapa/zahapa/zahapa.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target